@CHARSET "ISO-8859-1";

.completo {
	width: 100%;
	display: block;
}

.mitad {
	width: 49%;
	display: block;
	float: left;
}

.centrar {
	text-align: center;
}

.clear {
	clear: both;
}

.tercio {
	width: 30%;
	display: block;
	float: left;
}

.dostercios {
	width: 70%;
	display: block;
	float: left;
}

.uncuarto {
	width: 25%;
	display: block;
	float: left;
}

.input,.combo {
	margin-top: 0.25em;
}
/* Estilo de primefaces modificado*/
.ui-widget-content .update,.update .ui-panel,.update .ui-panel-content {
	padding-left: 0em !important;
	border: 0px !important;
}

.update .combo,.update .input {
	margin-left: 0.4em !important;
}
.codigo,.codigo .ui-dt-c {
	width: 20px !important;
	text-align: center;
}

.territorio,.territorio .ui-dt-c {
	width: 38px !important;
	text-align: center;
}

.oficina,.oficina .ui-dt-c {
	width: 120px !important;
	text-align: center;
}

.persona ,.persona .ui-dt-c {
	width: 75px !important;
	text-align: center;
}

.total .ui-dt-c {
	width: 73px !important;
	text-align: center;
}

.recaudacion .ui-dt-c {
	width: 50px !important;
	text-align: center;
}

.fallecida .ui-dt-c {
	width: 120px !important;
	text-align: center;
}

.cantidad .ui-dt-c {
	width: 73px !important;
	text-align: center;
}


table.anchoGrilla {
	width: 100% !important;
}

.ui-datatable-data-empty .ui-dt-c {
	width: 100% !important
}