@CHARSET "ISO-8859-1";




.btnDer {
 position:absolute;
 right:0px;
}

.btnIzq {
 position:absolute;
 left:200px;
}

.ui-widget-header ui-corner-all{
background-color: #254077 !important;
background-image :url("/VisadoPoderes/faces/javax.faces.resource/images/ui-bg_highlight-soft_100_deedf7_1x100.png?ln=primefaces-cupertino")
}

.ui-menu .ui-menu-parent .ui-menu-child{
width: 22.5em !important;	
}

.fielset {
	 font-family: Verdana, sans-serif;
	font-size:10px;
/* 	color:#002a5C; */
    color:#254077;
/*	font-weight:bold;*/
}

.outputText {
	font-family: Verdana, sans-serif;
	font-size:9px;
	color:#254077;
	/*padding-left: 500px;*/
/* 	font-weight:bold; */
}
.outputTextPopup {
	font-family: Verdana, sans-serif;
	font-size:0.7em;
	color:#254077;
	/*padding-left: 500px;*/
/* 	font-weight:bold; */
}
inputTextPopup{
	font-family: Verdana, sans-serif;
	/*font-size:0.7em;*/
	color:#254077;
}
.ui-state-default a, .ui-state-default a:link{
/* 	color:white !important; */
	color:#254077 !important;
}
.ui-widget-header .ui-state-default{
	color: black !important;
	background: white;
	
	font-size:11px;
}

.ui-menuitem-link .ui-menuitem-text{
	color: black !important;
}
body {
	font: 62.5% "Trebuchet MS", sans-serif;
	font-size: 11px;
	margin: 0;
	padding: 0;
	background: #F9F9F9;
}

.ui-selectmanycheckbox label {
	display: block;
	margin-top: 4px !important;
	margin-left: 0px;
	margin-right: 15px;
}
.ui-selectoneradio label {
	display: block;
	margin-top: 4px !important;
	margin-left: 25px;
}
/*
.checkSelected {
	width: 44px ! important;
}
.checkSelected .ui-dt-c {
	width: 44px ! important;
	margin: 5px ! important;
}*/
/*
.ui-datatable .ui-selection-column {
width: 44px;
}*/
.titulo {
	font-size: 17px;
	font-style: inherit;
}

.grillaStock {
	font-size: 10px;
}

h1,h2 {
	padding: 0;
	margin: 0;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	font-size: 100%;
}

.ui-confirm-dialog {
	/*top: 50px !important;*/
}

.ui-dialog {
	/*top: 0px !important;*/
}

#logo {
	float: left;
	width: 270px;
	height: 80px;
	display: block;
	margin: 0 0 0 8px;
}

#titulo {
	float: left;
	width: 445px;
	height: 80px;
	display: block;
	margin: 0 8px 0 8px;
}

#banner {
	float: right;
	width: 100px;
	height: 80px;
	display: block;
	margin: 0 8px 0 8px;
}

#usuario {
	line-height: 18px;
	text-align: right;
	margin: 0 10px 0 0;
}

#container {
	background: url("../../presentacion/images/madre_bg_n.gif") repeat-y
		scroll left top white;
	border: 0 none;
	color: #333;
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 1350px;
	border-image: initial;
}


#contenido {
	height: auto;
	overflow: hidden;
	
	padding: 0 15px 15px 15px;
}

#footer {
	Color: #fff;
	Font-Size: 9px;
	text-align: left;
	padding: 15px 0 0 20px;
	height: 30px;
	width: 1252px;
	display: block;
	background-color: #00529B;
	margin: 0 0 0 9px;
}

#menu {
	padding: 0 7px 15px 7px;
	float: left;
}

.ui-menu {
	background: #BED6F8;
	/*background: #00529B
		url("/showcase-labs/javax.faces.resource/images/ui-bg_highlight-hard_80_c4c4c4_1x100.png.jsf?ln=primefaces-aristo")
		top repeat-x;
	background: #00529B linear-gradient(top, rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0) );
	background: #00529B
		-webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255,
		0.8) ), to(rgba(255, 255, 255, 0) ) );
	background: #00529B -moz-linear-gradient(top, rgba(255, 255, 255, 0.8),
		rgba(255, 255, 255, 0) );*/
}

.necesario {
	color: red;
}

.ui-datatable {
	padding-bottom: 10px;
}

.ui-menuitem-link .ui-menuitem-text {
	color: #f1f1f1;
}

a.ui-state-hover span.ui-menuitem-text {
	color: #0070A3;
}

.ui-menu-child  .ui-menuitem-text {
	color: #362B36;
}

table.anchoGrilla {
	width: 100% !important;
}

.clear {
	clear: both;
}

.completo {
	width: 100%;
	/*float: left;*/
	/*text-align:left;*/
	display: inline-block;
	padding-bottom: 5px;
}

/*.ui-selectoneradio*/
.ui-selectoneradio td {
	border-width: 0px;
}


h1 {
	font-size: 2em;
	font-weight: bold;
	color: #333;
	display: block;
	padding: 0.67em 0px 0.67em 0px;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
	color: #333;
	display: block;
	padding: 0.83em 0px 0.83em 0px;
}

.ui-widget-content {
	border: 1px solid #DDD;
}

.selectOneMenu { /*width: 160%;*/
	width: 98% !important;
}

.ui-dialog .selectOneMenu {
	width: 40% !important;
}

.ui-dialog .ui-selectonemenu-panel .ui-selectonemenu-list-item {
	width: 30%;
	
}

.ui-dialog form {
	padding-right: 10px;
}

.scrollTabla {
	width: 100%;
	overflow: auto;
	min-height: 250px;
}

.archivo .ui-dt-c {
	width: 200px !important;
}

.item .ui-dt-c {
	width: 50px !important;
	text-align: center;
}

.codigo .ui-dt-c {
	width: 120px !important;
	text-align: center;
	margin: 0 auto;
}

.descripcion .ui-dt-c {
	width: 210px !important;
}

.nombreTabla  .ui-dt-c {
	width: 150px !important;
}

.carpeta  .ui-dt-c {
	width: 130px !important;
}

.fecha .ui-dt-c {
	width: 130px !important;
	text-align: center;
}

.editar  .ui-dt-c {
	width: 100px !important;
	text-align: center;
	margin: 0 auto;
}

.eliminar  .ui-dt-c {
	width: 120px !important;
	text-align: center;
	margin: 0 auto;
}


.ui-datatable-scrollable-footer-box {
	width: 100%;
	margin: 0 auto;
}

.ui-datatable-scrollable .ui-datatable-scrollable-footer-box {
	padding-right: 0px;
}

.ui-dialog {
	z-index: !important;
}

#dlgVerKardexPart {
	z-index: 10000 !important;
}

.ui-dialog .ui-widget {
	z-index: 10000 !important;
}

.boton .ui-button {
	margin-bottom: 5px;
}

.ui-widget {
	font-size: 1.0em;
}

.ui-datatable-data-empty .ui-dt-c {
	width: 100% !important
}

/*
.ui-dt-c{
  width: 100%!important
}
*/
.ui-state-default .rojo {
	width: 50px;
	text-align: center;
}

.item .ui-dt-c {
	width: 50px;
	text-align: center;
}

/*********************************************
********Consultar entrega de solicitudes *****
*********************************************/
.itemCheck .ui-dt-c {
	width: 20px;
	text-align: center;
}

.ui-radiobutton,.ui-radiobutton .ui-radiobutton-relative {
	position: static !important;
}
/*
.ui-datatable .ui-datatable-data TD DIV.ui-dt-c {
	overflow: visible !important;
}
*/
/*********************************************
********Consultar stock *****
*********************************************/
	
.ui-chkbox-box {
	float: none !important;
}
.muchosCheck .ui-chkbox {
	display: block !important;
	/*margin-right: 10px;*/
}

.muchosCheck .ui-selectmanycheckbox LABEL {
	margin-left: 2px !important;
	margin-right: 10px !important;
}


/*
*  Diferencias
*/  
.itemDife1 .ui-dt-c {
	width: 50px !important;
	text-align: center;
}
.estadoDife1 .ui-dt-c {
	width: 100px !important;
	text-align: center;
	margin: 0 auto;
}
.tipoRegulacionDife1 .ui-dt-c {
	width: 150px !important;
}

/*
* inputs 
*/

.ui-inputfield {
	/*color: #cdcdcd;*/
    font-weight: bold;
}


/*
* Color ROJO de fila del datatable para actividades procesales vencidas
*/

.rojo{
   background-color:red;
   background-image:none;
}


/*
* Color NARANJA de fila del datatable para actividades procesales proximas a vencer
*/

.naranja{
   background-color:orange;
   background-image:none;
}

/*
* Color AMARILLO de fila del datatable para indicar advertencia de que las actividades procesales
  ha transcurrido mas de la mitad del tiempoo
*/

.amarillo{
   background-color:yellow;
   background-image:none;
}

/*
* Color VERDE de fila del datatable para actividades procesales vencidas que recien inician
*/

.verde{
   background-color: #6CE26C !important;;
   background-image:none  #6CE26C !important;
   color: black !important;;
}

.centered {
    margin: 0px auto;
}





