<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd">

	<import resource="classpath:/conf/applicationContext-Config.xml" />

	<bean id="mappingResourcesList"
		class="org.springframework.beans.factory.config.ListFactoryBean">
		<property name="sourceList">
			<list>
			        <value>hibernate/xml/TiivsDocumento.hbm.xml</value>
					<value>hibernate/xml/TiivsSolicitud.hbm.xml</value>
			        <value>hibernate/xml/TiivsEstudio.hbm.xml</value>
			        <value>hibernate/xml/TiivsHistSolicitud.hbm.xml</value>
			        <value>hibernate/xml/TiivsNivel.hbm.xml</value>
			        <value>hibernate/xml/TiivsTarea.hbm.xml</value>
			        <value>hibernate/xml/TiivsTerritorio.hbm.xml</value>
			        <value>hibernate/xml/TiivsTipoSolicitud.hbm.xml</value>
			        <value>hibernate/xml/TiivsTipoSolicDocumento.hbm.xml</value>
			        <value>hibernate/xml/TiivsParametros.hbm.xml</value>
			        <value>hibernate/xml/TiivsMultitabla.hbm.xml</value>
			        <value>hibernate/xml/TiivsPersona.hbm.xml</value>
			        <value>hibernate/xml/TiivsRevocado.hbm.xml</value>			        
			        <value>hibernate/xml/TiivsAnexoSolicitud.hbm.xml</value>
			        <value>hibernate/xml/TiivsSolicitudAgrupacion.hbm.xml</value>
			        <value>hibernate/xml/TiivsMovimientoNivel.hbm.xml</value>
			        <value>hibernate/xml/TiivsSolicitudNivel.hbm.xml</value>			        
			        <value>hibernate/xml/TiivsMiembro.hbm.xml</value>
			        <value>hibernate/xml/TiivsSolicitudOperban.hbm.xml</value>			        
			        <value>hibernate/xml/TiivsOficina1.hbm.xml</value>
			        <value>hibernate/xml/TiivsAgrupacionPersona.hbm.xml</value>
			        <value>hibernate/xml/TiivsOperacionBancaria.hbm.xml</value>
			        <value>hibernate/xml/TiivsGrupo.hbm.xml</value>
			        <value>hibernate/xml/TiivsMiembroNivel.hbm.xml</value>
			        <value>hibernate/xml/Ldapperu2.hbm.xml</value>
					<value>hibernate/xml/TiivsFeriado.hbm.xml</value>
			        <value>hibernate/xml/QrtzSimpleTriggers.hbm.xml</value>        
			        <value>hibernate/xml/QrtzJobListeners.hbm.xml</value>        
			        <value>hibernate/xml/QrtzJobDetails.hbm.xml</value>
			        <value>hibernate/xml/QrtzSchedulerState.hbm.xml</value>
			        <value>hibernate/xml/QrtzBlobTriggers.hbm.xml</value>
			        <value>hibernate/xml/QrtzTriggers.hbm.xml</value>        
			        <value>hibernate/xml/QrtzLocks.hbm.xml</value>        
			        <value>hibernate/xml/QrtzCronTriggers.hbm.xml</value>        
			        <value>hibernate/xml/QrtzPausedTriggerGrps.hbm.xml</value>
			        <value>hibernate/xml/QrtzFiredTriggers.hbm.xml</value>        
			        <value>hibernate/xml/QrtzTriggerListeners.hbm.xml</value>
			        <value>hibernate/xml/QrtzCalendars.hbm.xml</value>
			        <!-- 
			        	<value>hibernate/xml/TempTcdt051.hbm.xml</value>
			        	<value>hibernate/xml/TempTcdt050.hbm.xml</value>
			         -->
			</list>
		</property>
	</bean>


</beans>